.buttonColor{
    background-color: #2a2d96;
}

.dCaptionText, .bePartanimation{
    animation: appear 2s linear;
    animation-timeline: view();
    animation-range:entry 0% cover 20%;
}

@keyframes appear {
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    t0{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.ourImpactAnimate{
    animation: ourInpactANI 2s linear;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}
.ourImpactAnimate2{
    animation: ourInpactANI 2s linear;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    t0{
        opacity: 1;
        transform: translateX(0px);
    }
}

.ourCoreValueAnimate{
    animation: ourCoreValueAni 2s linear;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}
.ourLandingAnimate{
    animation: ourCoreValueAni 2s linear;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    t0{
        opacity: 1;
        scale: 1;
    }
}

@media (min-width:48rem) {
    .dCaptionText, .bePartanimation{
    animation: appear 2s linear;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;
}
}